<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link href="../asset/Css/main.css" rel="stylesheet" type="text/css">
    <link href="../asset/Css/responsive550.css" rel="stylesheet" type="text/css">
    <link href="../asset/Css/responsive768.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>Cécile HUGUES</h1>
        <h1>Développeuse Web</h1>
    </header>
    <section class="contenu">
        <section class="coordonnees">
            <div class="moi">
                <img src="../asset/Image/Img_20210910_152821168_2.jpg" width="150" height="210">
                <p>Permis B (véhicule)</p>
                <p>Reconnaissance Travailleur Handicapé</p>
            </div>
            <div>
                <img src="http://media.istockphoto.com/vectors/paper-and-white-envelopes-cartoon-vector-id464095861"
                    width="112" height="89">
            </div>
            <p>4 place JB Chaulan</p>
            <p>13400 Aubagne</p>

            <p>06 27 59 34 24</p>
            <p>09 50 61 68 16</p>
            <P>cecilehugues13@gmail.com</p>
            <P>cecilehugues@hotmail.fr</p>
            <p>https://github.com/HCecile</p>
            <img src="../asset/Image/Transparent_Floral_Deco_Ornament_Picture.png" width="150px" height="148px">
        </section>
        <section class="experience">
            <h2>Formations - Diplomes</h2>
            <article>
                <p>Formation Titre Professionnel Concepteur Développeur d’Applications Web - Formation Continue - Ecole Ri7 - En cours</p>
                <ul>
                    <li>* Fondamentaux de la programmation </li>
                    <li>* Administration système UNIX / DevOps </li>
                    <li>* Analyse et conception </li>
                    <li>* Gestion de projet logiciel </li>
                    <li>* Bases de données </li>
                    <li>* Programmation Web</li>
                </ul>
                <P>Certificat de Qualification « Conditionnement produits cosmétiques et pharmaceutiques » - 2004</P>
                <p>Formation Agent de Prévention et de Sécurité – ERP1 – 2002/2003 * Recyclage – SSIAP1 – 2008</p>
                <p>BTS Comptabilité Gestion préparé de 1992 à 1994</p>
                <p>Baccalauréat G2 (Technique Quantitatives de Gestion) obtenu en 1992</p>
            </article>

            <h2>Connaissances informatiques</h2>
            <img src="../asset/Image/compcode.png" width="250">
            <article class="skills">
                <div>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>Bootstrap </li>
                        <li>PHP </li>
                        <li>Node JS</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Visual Studio Code</li>
                        <li>Gimp</li>
                        <li>Figma</li>
                        <li>Balsamiq</li>
                        <li>Drawio</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Word</li>
                        <li>Excel</li>
                        <li>Access</li>
                        <li>Powerpoint</li>
                    </ul>
                
                </div>

            </article>

            <h2>Compétences Professionnelles</h2>
            <article class="skills">
                <div>
                    <img src="../asset/Image/admin.png" width="250">
                    <h3>Administratif</h3>
                    <p>
                    <ul>
                        <li>Comptablilté Générale</li>
                        <li>Suivi dossiers clients et fournisseurs</li>
                        <li>Rapprochement bancaire</li>
                        <li>Gestion de la trésorerie</li>
                        <li>Travaux préparatoires au bilan</li>
                        <li>Saisie alpha numérique</li>
                    </ul>
                    </p>
                </div>
                <div>
                    <img src="../asset/Image/securite.png" width="250">
                    <h3>Sécurité</h3>
                    <p>
                    <ul>
                        <li>Prévention et lutte contre les incendies</li>
                        <li>Vidéo surveillance</li>
                        <li>Surveillance d'équipements et de technologies industrielles</li>
                        <li>Gestion des flux (entrées sorties et laisser passer)</li>
                        <li>Contrôle du fonctionnement des équipements techniques</li>
                        <li>et des différents dispositifs de sécurité</li>
                        <li>Travaux de mise en sécurité</li>
                        <li>Gestion d'un PC Opérationnel</li>
                        <li>Secourisme et formation de secourisme</li>
                        <li>Aide aux Audits Sécurité des ERP</li>
                    </ul>
                    </p>
                </div>
                <div>
                    <img src="../asset/Image/usine.png" width="250">
                    <h3>Industrie</h3>
                    <p>
                    <ul>
                        <li>Packaging sur Ultraform</li>
                        <li>Traçage selon plan, découpe, perforation</li>
                        <li>Montage, assemblages divers</li>
                        <li>Soudure à ultra-son sur Brenson, soudure thermique sur plastique</li>
                        <li>Finitions de pièces pour l'aéronautique</li>
                        <li>Fabrication pharmaceutique salle blanche ou stèrile</li>
                        <li>Conditionnement et Aide Opérateur Machine</li>
                        <li>Contrôle qualité</li>
                        <li>Bonnes Pratiques de Fabrication</li>
                        <li>Bonnes Pratiques de Documentation</li>
                    </ul>
                    </p>
                </div>
</article>
<h2>Activités Professionnelles</h2>  
<article>  
<b><p>2013-2014 Agent Polyvalent</p></b>
<p>Hopital Saint-Joseph (Marseille – 13)</p>
<b><p>2011 Agent de conditionnement (Intérimaire)</p></b>
<p>Immunotech (Marseille – 13) Industrie Pharmaceutique – Manpower</p>
<b><p>2010 Opératrice de Production Salle Blanche (Intérimaire)</p></b>
<p>Sartorius Stedim Biotech (Aubagne – 13) Industrie Pharmaceutique – Adia</p>
<b><p>2007-2008 Agent de Prévention et de Sécurité Incendie ERP1-SSIAP1</p></b>
<p>• Divers sites du Conseil Général (Département 13) - Alba Sécurité (Gardanne - 13)</p>
<p>• Pole Media Belle de Mai (Marseille – 13) - Lions Gardiennage Sécurité (Marseille – 13)</p>
<b><p>2005-2006 Opératrice de Fabrication Salle Blanche (Intérimaire)</p></b>
<p>Ipsen Pharma-Biotech (Signes – 83) Industrie Pharmaceutique – Adecco Industrie</p>
<b><p>2005 Agent de Sécurité (Saisonnier)</p></b>
<p>Alarme Action Protection (La Farlède – 83)</p>
<b><p>2004-2005 Conditionneuse – Ouvrière Polyvalente (Intérimaire)</p></b>
<p>Labiomar SA (Signes – 83) Cosmétiques – VediorBis Industrie</p>
<b><p>2002-2003 Agent de Prévention et de Sécurité Incendie</p></b>
<p>• LD Com Net Center (Marseille – 13) - Securitas France (Marseille - 13)</p>
<p>• Plateforme logistique Coca Cola (Salon de Pce – 13) - BSL Sécurité (Marseille – 13)</p>
<p>• Centre Hospitalier Spécialisé Montperrin (Aix-en-Provence – 13) Stage Professionnel</p>
<p>• Mairie d'Eguilles (13) Stage Professionnel</p>
<b><p>2001 Assistante de Formation</p></b>
<p>ATSI (Vitrolles – 13) Formation et Conseil en Hygiène et Sécurité</p>
<b><p>2000 Opératrice de fabrication</p></b>
<p>Gemplus (Gemenos – 13) Industrie de la carte à puce</p>
<b><p>1998-2000 Intérimaire</p></b>
<p>Diverses missions de Secrétariat – Comptabilité – Saisie Alpha numérique</p>
<b><p>1995-2000 Hôtesse de Caisse – Employée Commerciale – Employée au coffre</p></b>
<p>Hypermarché Géant (Aix-en-Provence – 13)</p>
<b><p>1994-1996 Secrétaire Comptable</p></b>
<p>Dans différents secteurs d'activité</p></article>

        </section>
        
    </section>
    
        <article class="interet">
            <b><h3>Centres d'intérêt</h3></b>
            <ol>
            <b><p>Loisirs Créatifs</p></b>
            <b><p>Jeu de role MMORPG en ligne</p></b>
            <p>* Renaissance Kingdoms</p>
            <p>* Administration forum</p>
            <b><p>Secourisme et surveillance feu de forêt - bénévole</p></b>
                <p>* Secours en équipe - monitorat</p>
                <p>* Gestion de PC de crise</p>
                
            </ol>
        </article>
        <nav>
        <a href="./../CV_Cécile.pdf">
            <p>Synthèse en PDF téléchargeable ici:</p>
        </a>
        <article class="flexCenter">
            <embed src="../asset/CV_Cécile.pdf" type='application/pdf' />
        </article>
    </nav>
</body>

</html>